#color-picker-pannel{
	height: 100px;
	width: 300px;
	background-color: #eee;
	border: solid 1px #aaa;
	display: none;
}

	#color-row{
		width: 300px;
		background-color: #fff;
	}

		.color-btn{
			display: inline-block;
			margin: 0;
			padding: 0;
			height: 10px;
			width: 10px;
			border: solid 1px #aaa;
			cursor: pointer;
		}